// Styles for the meet your TC page

$qcomp-dark-purple: #867eeb;
$qcomp-light-purple: #BDB7E9;

.about-container{
  display:flex;
  flex-direction: column;
  
}
.tc-cards-container-old{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 4%;
  margin-bottom: 6%;
  
}
.tc-cards-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 8%;
}

.tc-card{
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  // doesn't work lol
  font-family: halyard-text, sans-serif;
  //background-color: #BDB7E9;
  width: fit-content;
  
    
  //max-width: 50%;
  img{
      //width: fit-content;
      width: 80%;
      align-self: center;
  }
  
}
.tc-info{
  margin-left: 2%;
  max-width: 90%;
  //width:fit-content;
  align-self: center;
  text-align: center;

  h3{
    margin-bottom: 3%;
    margin-top: -1.2em;
    background-color: $qcomp-dark-purple;
    color: white;
    font-size: 1.2em;
    padding: 3% 0% 3%;
    font-weight: 100;
    width: 12em;
    
  }
  a{
    margin-top:5%;
    margin-bottom: 2%;
    font-size: 1.4em;
    color:$qcomp-dark-purple;
    font-weight: 500;
    text-decoration: none;
  }
  a:hover{
    // Making it turn blue is really ugly
    color:#0072b1;
  }
  h4{
    margin-top:5%;
    margin-bottom: 2%;
    font-size: 1.4em;
    color:$qcomp-dark-purple;
    font-weight: 500;
    text-decoration: none;
  }

  h5{
    margin: 1%;
    font-style: italic;
    font-weight: normal;
    font-size: 1em;
    color: $qcomp-dark-purple;
  }  
  .hometown-container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;

    p{
      padding-left: 4%;
      padding-right: 4%;
    }
    img{
      height: 1.5em;
      width: auto;
    }
  }
}


.tc-in-owk-container{
  img{
    max-width: 100%;
  }
}
.connections-container{
  width: 30%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 20%;
  margin-bottom:4%;

  img{
    height: 1.5em;
    width:auto;
    margin-left: 2%;
    margin-right: 2%;
    
  }
}

.grid-reverse{
  grid-template-columns: 2fr 1fr;
}

.order-reverse{
  order: -1;
}

.light-purple{
  background-color: $qcomp-light-purple;
}

.dark-purple{
  background-color: $qcomp-dark-purple;
}