@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900,700,500);
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.nav-logo-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1100px) {
  .nav-logo-container img {
    height: 170px;
  }
}
@media only screen and (max-width: 600px) {
  .nav-logo-container img {
    height: 120px;
  }
}

.nav-logo {
  width: 300px;
}
@media only screen and (max-width: 600px) {
  .nav-logo {
    width: 150px;
    position: absolute;
    top: 1vh;
    left: 5vw;
  }
}

.nav-container {
  align-items: center;
  justify-content: space-between;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    background: #BDB7E9;
    padding: min(20vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }
  .mobile-nav-toggle {
    display: block;
    z-index: 9999;
    position: absolute;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    background: url("../images/icons/toggle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 6.5vh;
    right: 2.5rem;
  }
  .nav-option:hover {
    color: white;
  }
}
.primary-navigation[data-visible=true] {
  transform: translateX(0%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.nav-option {
  text-decoration: none;
  color: black;
  font-family: halyard-text, sans-serif;
  padding: 0.5rem;
}

.nav-option:hover {
  color: #867eeb;
}

.page {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.orientation-container {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.row-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.row-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.row-sa-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.row-se-c {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.row-fs-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.row-fe-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.row-c-sb {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
}

.row-c-sa {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: row;
}

.row-c-se {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: row;
}

.row-c-fs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.row-c-fe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

/* Flexbox Column Custom */
.col-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-c-se {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: column;
}

.col-c-sa {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}

.col-c-se {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-direction: column;
}

.col-c-fs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.col-c-fe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.col-se-c {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.col-sa-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.col-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.col-fs-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.col-fe-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.layout-container {
  width: 65%;
  margin: 0 auto;
}
@media only screen and (max-width: 1600px) {
  .layout-container {
    width: 75%;
  }
}
@media only screen and (max-width: 1300px) {
  .layout-container {
    width: 75%;
  }
}
@media only screen and (max-width: 1500px) {
  .layout-container {
    width: 75%;
  }
}
@media only screen and (max-width: 1100px) {
  .layout-container {
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .layout-container {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .layout-container {
    width: 95%;
  }
}

.margins-container {
  display: flex;
}

.landing-page-margins {
  row-gap: 3rem;
}
@media only screen and (max-width: 850px) {
  .landing-page-margins {
    row-gap: 0.5rem;
  }
}

.landing-page-container {
  display: flexbox;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1900px) {
  .landing-page-container {
    margin-top: 3rem;
  }
}
.landing-page-content {
  width: 100%;
  grid-row-gap: 0.4rem;
  align-items: center;
  display: block;
  margin-bottom: auto;
}
@media only screen and (max-width: 1100px) {
  .landing-page-content {
    align-items: center;
  }
}
@media only screen and (max-width: 1100px) {
  .landing-page-content {
    order: 2;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page-content {
    justify-content: flex-start;
  }
}

.landing-page-header {
  font-size: 3.5em;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 600;
  color: #867eeb;
  font-family: halyard-text, sans-serif;
  border-spacing: 10rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1300px) {
  .landing-page-header {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 1100px) {
  .landing-page-header {
    text-align: center;
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 850px) {
  .landing-page-header {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .landing-page-header {
    font-size: 2.5rem;
    line-height: 45px;
  }
}
.little-break {
  display: block;
  height: 0.01em;
}

.down-arrow {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.landing-subheading {
  font-size: 1.1rem;
  text-align: center;
  line-height: 25px;
  margin: 1rem 0;
  font-family: halyard-text, sans-serif;
}
@media only screen and (max-width: 1300px) {
  .landing-subheading {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1100px) {
  .landing-subheading {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .landing-subheading {
    font-size: 1rem;
    width: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .landing-subheading .landing-subheading-break {
    display: none;
  }
}

.typewriter {
  font-family: halyard-text, sans-serif;
  color: #867eeb;
  font-size: 4rem;
  height: 375px;
  width: auto;
  overflow-wrap: break-word;
}
@media only screen and (max-width: 1100px) {
  .typewriter {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  .typewriter {
    font-size: 3rem;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
}

.tc-cards-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 4%;
  margin-bottom: 6%;
}

.tc-card {
  display: flex;
  flex-direction: column;
  font-family: halyard-text, sans-serif;
  width: -moz-fit-content;
  width: fit-content;
}
.tc-card img {
  width: 80%;
  align-self: center;
  padding-top: 8%;
}

.tc-info {
  margin-left: 2%;
  max-width: 90%;
  align-self: center;
  text-align: center;
  margin-bottom: 3%;
}
.tc-info h3 {
  margin-bottom: 3%;
  margin-top: -1.2em;
  background-color: #867eeb;
  color: white;
  font-size: 1.2em;
  padding: 3% 0% 3%;
  font-weight: 100;
  width: 12em;
}
.tc-info h4 {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 1.4em;
  color: white;
  font-weight: 500;
}
.tc-info h5 {
  margin: 1%;
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  color: white;
}

.connections-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  height: 20%;
  margin-bottom: 4%;
}
.connections-container img {
  height: 2em;
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}

.our-sponsors {
  width: 100%;
  row-gap: 0.2rem;
  margin-top: 6rem;
  grid-column: span 2;
}
@media only screen and (max-width: 1300px) {
  .our-sponsors {
    row-gap: 0.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .our-sponsors {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 1100px) {
  .our-sponsors {
    order: 3;
  }
}
.sponsors-header {
  font-weight: 600;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 35;
  margin: 0px;
}
@media only screen and (max-width: 600px) {
  .sponsors-header {
    text-align: center;
    width: 100%;
  }
}

.sponsors-banner-container {
  width: 100%;
  position: relative;
  max-height: 190px;
}
.sponsors-banner-container .sponsors-clients-banner-mobile {
  display: none;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .sponsors-banner-container .sponsors-clients-banner-mobile {
    display: flex;
  }
}
.sponsors-banner-container .sponsors-svg {
  position: absolute;
  width: 75%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  .sponsors-banner-container .sponsors-svg {
    display: none;
  }
}
.sponsors-banner-container .background-banner {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .sponsors-banner-container .background-banner {
    display: none;
  }
}

body .orientation-container {
  color: #fff;
  font-family: halyard-text, sans-serif;
  margin: 0;
}

.welcome-heading-container {
  height: 100vh;
}

.welcome-message-container {
  height: 100vh;
}

.orientation-container h2 {
  font-size: 4.5em;
  font-weight: 900;
  margin-left: 1.5em;
  margin-right: 5em;
  margin-top: 0em;
  margin-bottom: 0em;
}
.orientation-container h2 span {
  background-color: #BDB7E9;
}
@media only screen and (max-width: 800px) {
  .orientation-container h2 {
    font-size: 3em;
  }
}
@media only screen and (max-width: 500px) {
  .orientation-container h2 {
    font-size: 2.2em;
    margin-right: 2em;
  }
}
@media only screen and (max-width: 500px) {
  .orientation-container h2 {
    margin-left: 1em;
    margin-right: -1em;
  }
}

.orientation-container p {
  width: auto;
  float: center;
  margin-left: 5.4em;
  margin-right: 1em;
  font-weight: 500;
  margin-top: 1em;
  line-height: 1.3em;
  order: -1;
  background-color: #BDB7E9;
}
@media only screen and (max-width: 500px) {
  .orientation-container p {
    margin-left: 2em;
  }
}

.welcome-messaging {
  font-size: 1.4em;
}
@media only screen and (max-width: 800px) {
  .welcome-messaging {
    font-size: 1em;
  }
}
@media only screen and (max-width: 500px) {
  .welcome-messaging {
    font-size: 1em;
  }
}

.clear {
  clear: both;
}

.welcome-flexboxes {
  display: grid;
  grid-template-columns: 3fr 2fr;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 500px) {
  .welcome-flexboxes {
    display: grid;
    flex-direction: row;
    grid-template-columns: none;
  }
}

.welcome-image-container {
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.1em;
  margin-right: 6em;
  margin-top: -6.8em;
  order: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.welcome-image-container img {
  width: 95%;
  height: auto;
  margin-bottom: 1em;
}
@media only screen and (max-width: 800px) {
  .welcome-image-container {
    margin-top: 1.19em;
    margin-right: 1em;
  }
}
@media only screen and (max-width: 500px) {
  .welcome-image-container {
    margin-right: 1em;
    margin-left: 1em;
    align-items: center;
    margin-bottom: 1em;
  }
  .welcome-image-container img {
    width: 70%;
    height: auto;
    margin-bottom: 0.5em;
    justify-content: center;
  }
}
@media only screen and (max-width: 400px) {
  .welcome-image-container {
    margin-right: 1em;
    margin-left: 1em;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 0em;
  }
  .welcome-image-container img {
    width: 65%;
    height: auto;
    margin-bottom: 0.5em;
    justify-content: center;
  }
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.parallax-window {
  min-height: 400px;
  width: 100%;
  background: transparent;
}

.footer-container {
  margin-bottom: 1rem;
  display: grid;
}

.footer-content {
  border-top: 1px solid black;
  grid-template-columns: 1fr 1fr;
  display: grid;
  justify-items: center;
  padding-top: 3rem;
}
.footer-content a {
  text-decoration: none;
  color: black;
  font-family: halyard-text, sans-serif;
  padding: 0.5rem;
}
@media only screen and (max-width: 900px) {
  .footer-content {
    grid-template-columns: 1fr !important;
  }
}

.footer-links {
  width: 100%;
  display: grid;
}
@media only screen and (max-width: 900px) {
  .footer-links {
    grid-template-columns: 1fr !important;
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .footer-nav-links {
    display: none;
  }
}

.footer-nav-links,
.footer-page-socials {
  row-gap: 0.2rem;
  justify-content: flex-start;
}
@media only screen and (max-width: 900px) {
  .footer-nav-links,
  .footer-page-socials {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    row-gap: 2rem;
    flex-wrap: wrap;
  }
}
.footer-nav-links a,
.footer-page-socials a {
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 900px) {
  .footer-nav-links a,
  .footer-page-socials a {
    font-size: 2.2rem;
  }
}

.p-5 {
  padding: 3rem !important;
}

.grid-cols-2 {
  grid-template-columns: auto auto;
}

.footer-option {
  text-decoration: none;
  color: black;
  font-family: halyard-text, sans-serif;
  padding: 0.5rem;
}

/*------------Banner stuff *-----------------*/
.footer-banner {
  margin-top: 1rem;
  display: grid;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-bottom: 3rem !important;
}

.author-container {
  background-color: white;
  padding-bottom: 15px;
  margin: auto;
  justify-items: center;
}
.author-container p {
  font-family: monospace;
  color: black;
  font-size: 1.5em;
  float: left;
}

.author-content {
  text-align: center;
  justify-items: center;
}

.footer-image {
  height: 10vw;
  text-align: center;
}

.body {
  font-family: halyard-text, sans-serif;
}

body {
  display: block;
  margin: 0px;
  overflow-x: hidden;
}

.swag-break {
  display: block;
  height: 100px;
}/*# sourceMappingURL=style.css.map */